//========================================================
//                     Variables
//=========================================================
//Colors
$default: #999999;
$primary: #c80000;
$secondary: #5eb234;
$secondary-dark: #4d4d4d;
$white: #fff;
$black: #000000;

//Backgrounds
$header-bg: #1a1a1a;
$content-bg: $header-bg;
$footer-bg: $header-bg;

//Fonts
$default-font: 'Open Sans', sans-serif;
$material-font: 'Linecons';

$icons1: "\e001", "\e000", "\e007";
$i: 0;

$social-footer-clrs: #7795c4, #526191, #e79a4b, #e16c4d, #72c2fc;
$ico: '"../images/main/icons/ico-01.png"', '"../images/main/icons/ico-02.png"', '"../images/main/icons/ico-03.png"';
$ico_hover: '"../images/main/icons/ico2-01.png"', '"../images/main/icons/ico2-02.png"', '"../images/main/icons/ico2-03.png"';

$ico2: '"../images/main/icons/ico-01.png"', '"../images/main/icons/ico-02.png"', '"../images/main/icons/ico-04.png"';
$ico_hover2: '"../images/main/icons/ico2-01.png"', '"../images/main/icons/ico2-02.png"', '"../images/main/icons/ico2-04.png"';

$show: '"../images/main/works/overlay/pic1_gray.png"', '"../images/main/works/overlay/pic2_gray.png"', '"../images/main/works/overlay/pic3_gray.png"';
$show_hover: '"../images/main/works/overlay/pic1.png"', '"../images/main/works/overlay/pic2.png"', '"../images/main/works/overlay/pic33.png"';
$clrs: #53de07, #6ac0f3;
//====================skype=====vk=======fb=====tvitter==

$social-modal-clrs: #6a96c7, #4a6195, #29c3ff, #e16c4d;